.pricing {
    background-color: #f0f2f7;
    padding-bottom: 170px;
    padding-top: 50px;
}

@media (min-width: 767px) {
    .pricing {
        padding-top: 102px;
        padding-bottom: 250px;
    }
}

.pricing__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pricing__title {
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}

.pricing__title.underline-text::after {
    bottom: 7px;
    left: 12px;
    right: 12px;
    width: calc(100% - 24px);
}

@media (min-width: 767px) {
    .pricing__title {
        font-size: 60px;
    }
}

.pricing__title:not(:last-child) {
    margin-bottom: 20px;
}

.pricing__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100%;
}

@media (min-width: 767px) {
    .pricing__items {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -ms-flex-direction: row;
        flex-direction: row;
        justify-content: center;
    }
}

.pricing__item {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    user-select: none;
}

@media (max-width: 767px) {
    .pricing__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media (min-width: 767px) {
    .pricing__item {
        margin-top: 40px;
        min-height: 560px;
        width: calc(33.33% - 20px);
    }
}

@media (min-width: 1024px) {
    .pricing__item {
        width: calc(25% - 20px);
    }
    .pricing__item:not(:last-child) {
        margin-right: 20px;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .pricing__item {
        width: 50%;
        margin-top: 0;
    }
}

.has-hover .pricing__item:not([disabled]):hover {
    -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.pricing__item-header {
    background-color: #372681;
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 600;
    min-height: 40px;
    padding: 11px;
    text-align: center;
    text-transform: uppercase;
}

.pricing__item-body {
    margin-bottom: auto;
}

.pricing__item-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background-color: #fff;
    border: 1px solid #ececf0;
    color: var(--primary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    padding: 40px 50px;
}

.pricing__item-title {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.pricing__item-title:not(:last-child) {
    margin-bottom: 15px;
}

.pricing__item-price {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.pricing__item-price:not(:last-child) {
    margin-bottom: 30px;
}

.pricing__item-price .price {
    font-size: 60px;
    font-weight: 600;
}

.pricing__item-custom {
    font-size: 40px;
    font-weight: 600;
}

.pricing__item-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 100px;
}

.pricing__item--primary {
    margin-top: 0;
}

.pricing__item--primary .pricing__item-block {
    background-color: #4b3c8e;
    border-color: var(--primary-color);
    color: #fff;

    .pricing__list-title {
        color: #fff;
    }
}

@media (min-width: 1023px) {
    .pricing__item--primary .pricing__item-block {
        padding-bottom: 70px;
    }
}

.pricing__list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.pricing__list {
    color: var(--primary-color);
}

.pricing__list:not(:last-child) {
    margin-bottom: 10px;
}

.pricing__list-title {
    font-size: 15px;
    font-weight: 600;
}

.pricing__list-check {
    color: var(--secondary-color);
}

.pricing__list-not {
    color: #b9b6c5 !important;
}

.pricing__list-check,
.pricing__list-not {
    display: inline-block;
    font-size: 15px !important;
    margin-right: 20px;
}

.pricing__list--not {
    color: #9798bc;
}

.pricing__text {
    color: var(--primary-color);
    font-size: 12px;
    margin-top: 50px;
    text-align: center;
}

@media (min-width: 767px) {
    .pricing__text {
        margin-top: 80px;
    }
}

.pricing__text-link {
    font-weight: 600;
}

.pricing__item-button {
    width: 100%;
}