
/* search start */
@use '../components/search';
/* search end */

/* messages start */
@use '../components/messages';
/* messages end */

/* lang start */
@use '../components/lang';
/* lang end */

/* hero start */
@use '../components/hero';
/* hero end */

/* string start */
@use '../components/string';
/* string end */

/* partners start */
@use '../components/partners';
/* partners end */

/* selling start */
@use '../components/selling';
/* selling end */

/* pricing start */
@use '../components/pricing';
/* pricing end */

/* info start */
@use '../components/info';
/* info end */

/* feedback start */
@use '../components/feedback';
/* feedback end */

/* data start */
@use '../components/data';
/* data end */

/* cta start */
@use '../components/cta';
/* cta end */